<div id="wrapper">
  <div id="left">
  <h1>What</h1>
  <p>The Region of Waterloo claims that ION brought in 2.1 Billion dollars in 
  real estate investments
  near the new train stations. I wanted to find out how true that was</p>
  <h1>How</h1>
  <p>There is an open data set that publicizes all the building permits which 
  were granted, including where and when. I mapped these against the locations 
  of the ION stops</p>
  <h1>News</h1>
    <p><%= link_to("CBC Report", "https://www.cbc.ca/news/canada/kitchener-waterloo/ion-build-lrt-corridor-1.4431670") %></p>
    <p><%= link_to("Record Report", "https://www.therecord.com/opinion-story/9438631-ion-lrt-will-reshape-development-in-waterloo-region-for-decades-to-come/") %></p>
  </div>
  <div id="right"> 
      <%= image_tag("map.png", height: '300') %>
  </div>
</div> 